<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>Cloth It - Share the way you look !</title>

    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    }
    @helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

    <!-- Meta Description -->
    <!-- Meta GOOGLE -->
    <meta name="description" content="Share the way you look!">
    <meta name="keywords" content="cloth app, clothit, iphone app, ios app, android app, apple store, play store, share clothes, be popular, fashion">
    <meta name="author" content="ClothIt" />

    <!-- Meta FACEBOOK -->
    <meta property="og:title" content="Cloth It - Share the way you look !" />
    <meta property="og:description" content=@Resource.ClothitDesc />
    <meta property="og:description" content="ClothIt es una red social que te mantiene al tanto de las últimas tendencias de la moda. Nuesto objetivo es que puedas recibir diferentes opiniones de la comunidad sobre lo que llevas puesto o recibir sugerencias sobre lo que podrías llevar." />
    <meta property="og:description" content="Cloth It is a social network that targets fashion and trends about how to get dressed. Our goal is to bring users a different way to search for clothes or allowing them to get opinions from the community about the way they dress" />

    <meta property="og:url" content="http://clothit.me" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://clothit.me/img/logo-black.png" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CSS
    ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Switch style -->
    <link rel="stylesheet" href="css/switch.css">
    <!-- Dot Hover style -->
    <link rel="stylesheet" href="css/dothover.css">
    <!-- Twitter Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jquery.fancybox  -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- animate -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    <!-- media-queries -->
    <link rel="stylesheet" href="css/media-queries.css">
    <!-- Modernizer Script for old Browsers -->
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body id="body">

    <!-- preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="Preloader">
    </div>
    <!-- end preloader -->
    <!--
    Fixed Navigation
    ==================================== -->
    <header id="navigation" class="navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <a class="navbar-brand" href="#body">
                    <h1 id="logo">
                        <img src="img/logo.png" alt="Cloth it">
                    </h1>
                </a>
                <!-- /logo -->
            </div>
            <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li class="current"><a href="#body">@Resources.Resource.Home</a></li>
                    <li><a href="#features">@Resources.Resource.Howto</a></li>
                    <li><a href="#works">@Resources.Resource.Preview</a></li>
                    <li><a href="#team">@Resources.Resource.Team</a></li>
                    <li><a href="#contact">@Resources.Resource.Contact</a></li>
                </ul>
            </nav>
            <!-- /main nav -->

        </div>
    </header>
    <!--
    End Fixed Navigation
    ==================================== -->
    <!--
    Home Slider
    ==================================== -->
    <section id="slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators bullet -->
            @*<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                </ol>*@
            <!-- End Indicators bullet -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <!-- single slide -->
                <div class="item active" style="background-image: url(img/banner.jpg);">
                    <div class="carousel-caption">
                        <img data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated img-responsive mainlogo" src="img/logo-big.png" alt="Clothit">
                        <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color" contenteditable="false">/share</span> The way you look</h3>
                        <p data-wow-duration="1000ms" class="wow slideInRight animated" style="margin-bottom:20px;">@Resource.Subtitle</p>

                        <a href="#invite">
                            <span class="btn btn-danger btn-lg wow bounceInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                                @Resource.RequestInvite
                            </span>
                        </a>


                        <ul class="social-links text-center">
                            <li><a href="http://www.facebook.com/clothit"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a href="http://www.twitter.com/cloth_it"><i class="fa fa-twitter fa-lg"></i></a></li>

                        </ul>
                    </div>
                </div>
                <!-- end single slide -->
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </section>

    <!--
    End Home SliderEnd
    ==================================== -->
    <!--
    Features
    ==================================== -->

    <section id="features" class="features">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                    <h2>@Resource.Howto</h2>
                    <div class="devider"><i class="fa fa-mobile fa-lg"></i></div>
                </div>
                <!-- service item -->
                <div class="col-md-3 wow fadeInLeft" data-wow-duration="500ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-camera-retro fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>@Resource.HowToStep1</h3>
                            <p>@Resource.HowToStep1Desc</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-share-alt fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>@Resource.HowToStep2</h3>
                            <p>@Resource.HowToStep2Desc</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-thumbs-o-up fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>@Resource.HowToStep3</h3>
                            <p>@Resource.HowToStep3Desc</p>
                        </div>
                    </div>

                </div>
                <!-- end service item -->
                <!-- service item -->
                <div class="col-md-3 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="1300ms">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-star-o fa-2x"></i>
                        </div>

                        <div class="service-desc">
                            <h3>@Resource.HowToStep4</h3>
                            <p>@Resource.HowToStep4Desc</p>
                        </div>
                    </div>
                </div>
                <!-- end service item -->

            </div>
        </div>
    </section>

    <!--
    End Features
    ==================================== -->
    <!--
    Our Works
    ==================================== -->

    <section id="works" class="works clearfix">
        <div class="parallax-overlay2">



            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                            <h2>@Resource.Platforms</h2>
                            <div class="devider"><i class="fa fa-tablet fa-lg"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 column wow fadeInLeft delay=600ms">
                        <img src="img/ANDROID_SCREENSHOT.png" alt="Android" />
                    </div>
                    <div class="col-md-4 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column sec-title mb50" style="margin-top:50px">
                                <h2>
                                    Android
                                </h2><span>@Resource.AndroidReq</span><img src="img/android.png" alt="Android" />
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column sec-title mb50" style="text-align:right">
                                <h2 style="margin-right:30px">
                                    iOS
                                </h2><span>@Resource.IosReq</span><img src="img/ios.png" alt="iOS" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column wow fadeInRight delay=1000ms">
                        <img src="img/IPHONE_SCREENSHOT.png" alt="iOS" />
                        <div class="dot" data-x="30%" data-y="25%"><a href="#" rel="tooltip" title="Maggie's Reputation, based on others review."><img src="img/dot_transparent.png" /></a></div>
                        <div class="dot" data-x="46%" data-y="73%"><a href="#" rel="tooltip" title="Spread the word! You like this!"><img src="img/dot_transparent.png" /></a></div>
                        <div class="dot" data-x="53%" data-y="83%"><a href="#" rel="tooltip" title="Tell the world what you have to say about this cloth!"><img src="img/dot_transparent.png" /></a></div>
                    </div>
                </div>
            </div>


    </section>

    <!--
    End Our Works
    ==================================== -->
    <!--
    Meet Our Team
    ==================================== -->

    <section id="team" class="team">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
                    <h2>@Resource.MeetTeam</h2>
                    <div class="devider"><i class="fa fa-laptop fa-lg"></i></div>
                </div>

                <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
                    <p>@Resource.TeamDesc</p>
                </div>
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-thumb">
                        <img src="img/team/mauri.png" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>@Resource.MarketingTitle</h5>
                            <p>@Resource.MarketingDesc</p>
                            <ul class="social-links text-center">
                                <li><a href="https://www.twitter.com/maugsosa"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/mauricioeduardo.garciasosa"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/106837029112761876428/posts"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Mauricio Garcia</h4>
                    <span>@Resource.MarketingTitle</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="member-thumb">
                        <img src="img/team/sebag.jpg" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>@Resource.UIUXTitle</h5>
                            <p>@Resource.UIUXDesc</p>
                            <ul class="social-links text-center">
                                <li><a href="https://twitter.com/SebaGarMol"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/ssggmm"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/106045069521767182362"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Sebastián Garcia</h4>
                    <span>@Resource.UIUXTitle</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="member-thumb">
                        <img src="img/team/nacho.png" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>@Resource.FullStackTitle</h5>
                            <p>@Resource.FullStackDesc</p>
                            <ul class="social-links text-center">
                                <li><a href="https://twitter.com/nachogarrone"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/nachogarrone"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/+NachoGarrone/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Nacho Garrone</h4>
                    <span>@Resource.FullStackTitle</span>
                </figure>
                <!-- end single member -->
                <!-- single member -->
                <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="member-thumb">
                        <img src="img/team/sebau.png" alt="Team Member" class="img-responsive">
                        <figcaption class="overlay">
                            <h5>@Resource.LeadTitle</h5>
                            <p>@Resource.LeadDesc</p>
                            <ul class="social-links text-center">
                                <li><a href="https://www.twitter.com/sebaustinelli"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="https://www.facebook.com/sebaustinelli"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/+SebastianUstinelli14/"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            </ul>
                        </figcaption>
                    </div>
                    <h4>Sebastián Ustinelli</h4>
                    <span>@Resource.LeadTitle</span>
                </figure>
                <!-- end single member -->

            </div>
        </div>
    </section>

    <!--
    End Meet Our Team
    ==================================== -->
    <!--
    Some fun facts
    ==================================== -->

    <section id="facts" class="facts">
        <div class="parallax-overlay">
            <div class="container">
                <div class="row number-counters">

                    <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                        <h2>@Resource.Goals</h2>
                        <div class="devider"><i class="fa fa-trophy fa-lg"></i></div>
                    </div>

                    <!-- first count item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                        <div class="counters-item">
                            <i class="fa fa-clock-o fa-3x"></i>
                            <strong>@Resource.ReleaseDate1</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>@Resource.ReleaseDate</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="counters-item">
                            <i class="fa fa-users fa-3x"></i>
                            <strong data-to="3000">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>@Resource.ActiveUsers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="counters-item">
                            <i class="fa fa-building-o fa-3x"></i>
                            <strong data-to="30">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>@Resource.StoreProfiles</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="counters-item">
                            <i class="fa fa-tags fa-3x"></i>
                            <strong data-to="50000">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>@Resource.ClothesTagged</p>
                        </div>
                    </div>
                    <!-- end first count item -->

                </div>
            </div>
        </div>
    </section>

    <!--
    End Some fun facts
    ==================================== -->
    <!--
    Request invite
    ==================================== -->

    <section id="invite" class="invite">
        <div class="container">
            <div class="row mb50">
                <div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                    <h2>@Resource.RequestInvite</h2>
                    <div class="devider"><i class="fa fa-diamond fa-lg"></i></div>
                </div>
                <div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
                    <p>@Resource.RequestInviteDesc</p>
                </div>

                @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { @class = "subscribe" }))
                {
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="contact-form">
                                <div class="input-group email">
                                    <div class="input-field" style="width:100%">
                                        <input type="email" name="Email" style="position:static" id="subscribeemail" placeholder="Email" class="form-control">
                                        <input type="submit" value="&#8594;" id="subs">
                                    </div>
                                </div>
                            </div>
                            <em>@Resource.RequestInviteWarning</em>
                        </div>
                    </div>
                }
                <hr style="margin-top:100px">
            </div>
        </div>
    </section>

    <!--
    End Request Invite
    ==================================== -->

    <!--
    Contact Us
    ==================================== -->

    <section id="contact" class="contact">
        <div class="container">
            <div class="row mb50">

                <div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                    <h2>@Resource.StoreInterested</h2>
                    <div class="devider"><i class="fa fa-diamond fa-lg"></i></div>
                </div>

                <div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
                    <p>@Resource.StoreInterestedDesc</p>
                </div>

                <!-- contact address -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
                    <div class="contact-address">
                        <h3>@Resource.Address</h3>
                        <p>Avda. 8 de Octubre 2738</p>
                        <p>Montevideo, Uruguay</p>
                        <p>+(598) 94587666</p>
                    </div>
                </div>
                <!-- end contact address -->
                <!-- contact form -->


                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="contact-form">
                        <h3>@Resource.ContactUs</h3>
                        @using (Html.BeginForm("ContactUs", "Home"))
                        {
                            <div class="input-group name-email">
                                <div class="input-field">
                                    <input type="text" name="Nombre" id="name" placeholder=@Resource.Name class="form-control">
                                </div>
                                <div class="input-field">
                                    <input type="email" name="Email" id="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="input-group">
                                <textarea name="Mensaje" id="message" placeholder=@Resource.Message class="form-control"></textarea>
                            </div>
                            <div class="input-group">
                                <input type="submit" id="form-submit" class="pull-right" value=@Resource.Send>
                                <label class="input-group pull-left" id="messageSent"></label>
                            </div>
                        }
                    </div>

                </div>

                <!-- end contact form -->
                <!-- footer social links -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <ul class="footer-social">
                        <li><a href="https://www.twitter.com/cloth_it"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="https://www.facebook.com/clothit"><i class="fa fa-facebook fa-2x"></i></a></li>
                    </ul>
                </div>
                <!-- end footer social links -->

            </div>
        </div>

        <!-- Google map -->
        <div id="map_canvas" class="wow bounceInDown animated" data-wow-duration="500ms"></div>
        <!-- End Google map -->

    </section>

    <!--
    End Contact Us
    ==================================== -->


    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="footer-single">
                        <img src="img/footer-logo.png" alt="">
                        <p>@Resource.ClothitDesc</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="footer-single">
                        <h6>@Resource.Explore</h6>
                        <ul>
                            <li><a href="#features">@Resource.Howto</a></li>
                            <li><a href="#team">@Resource.Team</a></li>
                            <li><a href="#work">@Resource.Preview</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="footer-single">
                        <h6>@Resource.Support</h6>
                        <ul>
                            <li><a href="#">@Resource.ContactUs</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="footer-single">
                        <h6>@Resource.LanguageChooser</h6>
                        @using (Html.BeginForm("SetCulture", "Home"))
                        {
                            <ul>
                                <li>
                                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> @Resource.English
                                </li>
                                <li>
                                    <input name="culture" id="es" value="es" type="radio" @selected("es", culture) /> @Resource.Spanish
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-center">
                        Copyright © 2015 <a href="http://www.clothit.me">Cloth It</a>. @Resource.Copyrights
                    </p>
                </div>
            </div>
            
        </div>
    </footer>

    <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>
    <!-- Essential jQuery Plugins
    ================================================== -->
    <!-- Main jQuery -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- Single Page Nav -->
    <script src="js/jquery.singlePageNav.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="js/jquery.fancybox.pack.js"></script>
    <!-- jquery.mixitup.min -->
    <script src="js/jquery.mixitup.min.js"></script>
    <!-- jquery.parallax -->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <!-- jquery.countTo -->
    <script src="js/jquery-countTo.js"></script>
    <!-- jquery.appear -->
    <script src="js/jquery.appear.js"></script>
    <!-- Contact form validation -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Google Map -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- jquery easing -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- jquery easing -->
    <script src="js/wow.min.js"></script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 120,          // distance to the element when triggering the animation (default is 0)
            mobile: false,       // trigger animations on mobile devices (default is true)
            live: true        // act on asynchronously loaded content (default is true)
        }
        );
        wow.init();
    </script>
    <!-- Custom Functions -->
    <script src="js/custom.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>

    <script>
        $(document).ready(function () {
            $('.dot').each(function () {
                $(this).css('left', $(this).data('x'));
                $(this).css('top', $(this).data('y'));
            });

            
        });

        $(function () {
            $("[rel='tooltip']").tooltip();
        });

        
    </script>



    <script type="text/javascript">
        $(function () {
            /* ========================================================================= */
            /*	Contact Form
            /* ========================================================================= */

            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "come on, you have a name don't you?",
                        minlength: "your name must consist of at least 2 characters"
                    },
                    email: {
                        required: "no email, no message"
                    },
                    message: {
                        required: "um...yea, you have to write something to send this form.",
                        minlength: "thats all? really?"
                    }
                },
                submitHandler: function (form) {
                    $('#messageSent').val("The message has been sent");
                }
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-37914201-3', 'auto');
        ga('send', 'pageview');

    </script>

</body>


</html>
